[BUG] DKIM public key parsing error in rspamd 3.2

<!--

Do you want to ask a question? Are you looking for support? Here are the places where you can get what you need: https://rspamd.com/support.html

-->

### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Read about bug reporting in general: https://rspamd.com/doc/faq.html#how-to-report-bugs-found-in-rspamd
    * Enabled relevant debugging logs: https://rspamd.com/doc/faq.html#how-to-debug-some-module-in-rspamd 
    * Checked the FAQs about Core files in case of fatal crash: https://rspamd.com/doc/faq.html#how-to-figure-out-why-rspamd-process-crashed
    * Tried ASAN package and obtained the ASAN report (if possible): https://rspamd.com/doc/faq.html#asan-builds 
    * Checked that your issue isn't already filed: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+user%3Arspamd
    * Checked that there is not already an experimental package or master branch

**Describe the bug**
Since upgrading rspamd to 3.2 (from 3.1), we noticed multiple problems (with multiple domains) with parsing DKIM public key. We have another server where we are still running rspamd 3.1 and there are no problems detected - with the same domains.

Lets take domain `sb-celje.si` for example. When checking DKIM public key, rspamd returns error message: 
```
Apr 14 16:12:54 <host> rspamd[20713]: <89445f>; task; lua_dkim_sign_handler: cannot parse pubkey from string: v=DKIM1; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDeIanjvaHJCHGNF02UoCGuY9GmK0+h/VFjdu 8SI5oCjNDsb1Krmcg7yHSoegdTVyy8JTsoHsvs9S5QZ4VGsC3sa/I11VWnUOsPI3jE52TMU3umqH dc4flxQVR+DSTy9j/e7w40Uyv/+hzKZay8+9YmDN1Hq34Jy9NF7eMm6+F0RQIDAQAB, skip signing
```
Here's the actual DKIM record:
```
dig txt one._domainkey.sb-celje.si

;; ANSWER SECTION:
one._domainkey.sb-celje.si. 2583 IN	TXT	"v=DKIM1; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDeIanjvaHJCHGNF02UoCGuY9GmK0+h/VFjdu 8SI5oCjNDsb1Krmcg7yHSoegdTVyy8JTsoHsvs9S5QZ4VGsC3sa/I11VWnUOsPI3jE52TMU3umqH dc4flxQVR+DSTy9j/e7w40Uyv/+hzKZay8+9YmDN1Hq34Jy9NF7eMm6+F0RQIDAQAB"
```

Another example was with `guest.arnes.si ` where public key was looking like this:
```
one._domainkey.guest.arnes.si. 3600 TXT (
   "v=DKIM1; p="
   "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqT"
   "HU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxN"
   "ZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1U"
   "cx72qMzV02v+LB7o5wIDAQAB")
```
Once we changed it to:
```
dig txt one._domainkey.guest.arnes.si

;; ANSWER SECTION:
one._domainkey.guest.arnes.si. 3411 IN	TXT	"v=DKIM1; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqTHU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxNZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1Ucx72qMzV02v+LB7o5wIDAQAB"
```
it started working - rspamd 3.2 successfully parsed it.

Why would this suddenly become an issue, if DKIM record has spaces? Or if it is added to DNS in the old format, just like `guest.arnes.si` example? 

I checked the changelog, and thought this might be related: https://github.com/rspamd/rspamd/commit/d793446a7bcf4ec5ab8697f0598fd4e5b1ac5960. The problem is, we are having issues with the thing this fix was supposed to resolve - spaces in DKIM. It worked before the fix, but its not working after it.

I also noticed that there are some rspamd tests https://github.com/rspamd/rspamd/commit/28b6b571cf68b4fa6c40ae5ef44fcae0637b29a7 for different DKIM records - with spaces, diferent formats, ...
I wonder if you could try running the tests on our examples, and let us now on the results? 

Hopefully I haven't missed something and we can find a solution.

Regards, Denis.



### Steps to Reproduce


**Expected behavior**
We expect DKIM keys like above to be successfully parsed.

### Versions

Rspamd version: `Rspamd daemon version 3.2`
OS version: `AlmaLinux 8.5 (Arctic Sphynx)`
Architecture: x86-64

### Additional Information

Any additional information, configuration or data that might be necessary to reproduce the issue.


Yes, spaces within base64 are breaking everything :( I will check.

> Yes, spaces within base64 are breaking everything :( I will check.

Thanks. If you will need any additional info or some help with testing let me know. 

As I see it, the published key of `one._domainkey.sb-celje.si` is against the DKIM specification.

RFC6376 section 3.6.1:                                                                                                                                                                                                                                                                                
```
key-p-tag    = %x70 [FWS] "=" [ [FWS] base64string]

   INFORMATIVE NOTE: A base64string is permitted to include
   whitespace (FWS) at arbitrary places; however, any CRLFs must
   be followed by at least one WSP character.  Implementers and
   administrators are cautioned to ensure that selector TXT RRs
   conform to this specification.
```
Section 2.10:
```
base64string    =  ALPHADIGITPS *([FWS] ALPHADIGITPS)
                   [ [FWS] "=" [ [FWS] "=" ] ]
```
Section 2.8:
```
FWS =   [*WSP CRLF] 1*WSP
```
The white space in
```
v=DKIM1; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDeIanjvaHJCHGNF02UoCGuY9GmK0+h/VFjdu 8SI5oCjNDsb1Krmcg7yHSoegdTVyy8JTsoHsvs9S5QZ4VGsC3sa/I11VWnUOsPI3jE52TMU3umqH dc4flxQVR+DSTy9j/e7w40Uyv/+hzKZay8+9YmDN1Hq34Jy9NF7eMm6+F0RQIDAQAB
```
is not a `FWS`, because there is no `CRLF`.

Note that this white space is not the same as the `FWS`s in
```
one._domainkey.guest.arnes.si. 3600 TXT (
   "v=DKIM1; p="
   "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqT"
   "HU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxN"
   "ZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1U"
   "cx72qMzV02v+LB7o5wIDAQAB")
```

The above is the content of a zone file, and given TXT record consists of five `character-strings` per RFC1035 section 3.3.14:
```
TXT-DATA        One or more <character-string>s.
```
Section 5.1:
```
<character-string> is expressed in one or two ways: as a contiguous set
of characters without interior spaces, or as a string beginning with a "
and ending with a ".  Inside a " delimited string any character can
occur, except for a " itself, which must be quoted using \ (back slash).
```

So the given multi-`character-string` definition looks correct to me. Are you sure that it triggered an error as well?

Are you sure that
```
one._domainkey.guest.arnes.si. 3600 TXT (
   "v=DKIM1; p="
   "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqT"
   "HU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxN"
   "ZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1U"
   "cx72qMzV02v+LB7o5wIDAQAB")
```
was actually a problem? This is a definition within a zone file. A corresponding query shouldn't have contained spaces or newlines.

No, the problem is more complicated...

Ok, I think I have fixed it now.

> Ok, I think I have fixed it now.

Does it cover multi-`<character-strings>`?
```
selector._domainkey.example.com 3600 IN TXT "v=DKIM1; p=" "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqT" "HU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxN" "ZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1U" "cx72qMzV02v+LB7o5wIDAQAB"
```

This should be covered by DNS library.

> This should be covered by DNS library.

If so, then rspamd shouldn't have seen any white spaces for `one._domainkey.guest.arnes.si`.

> Are you sure that
> 
> ```
> one._domainkey.guest.arnes.si. 3600 TXT (
>    "v=DKIM1; p="
>    "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDc453ipq++Sy65BSLacn6AqvqT"
>    "HU5y8q+Jp9EgK1jhaFJBh73wmkUL+TPbTBl6RVSn7hhiIGTE/57VEMmORSFhFQxN"
>    "ZEZ2nI1lPXsbavEIugwk6vuCtuimwI51V/uU6J1xArj5ZPcQbsS1Guw8v0txnB1U"
>    "cx72qMzV02v+LB7o5wIDAQAB")
> ```
> 
> was actually a problem? This is a definition within a zone file. ~A corresponding query shouldn't have contained spaces or newlines.~ Edit: Oh, I'm mistaken on that one.

It actaully is from a zone file, we changed the record, so I had to copy the old one from the zone file. 

> Ok, I think I have fixed it now.

Great, thanks! It will probably be available in next release? If so, do you have any info of approximately when is it planed? 