[Feature] Customizable "authserv-id" for Authentication-Results 

<!--

Do you want to ask a question? Are you looking for support? Here are the places where you can get what you need: https://rspamd.com/support.html

Feature requests are welcomed. Before opening a feature request, please take a moment to find out whether your idea fits with the scope and goals of the project. It’s up to you to make a strong case to convince the project maintainers the merits of the feature. Please provide as much detail and context as possible.

-->

## Summary

Add a configuration option for the "authentication-results" function of the milter-headers module to specify the "authserv-id" value.

## Motivation

Rspamd inserts mta_hostname (in lualib/lua_auth_results.lua) as the first token of "Authentication-Results:" header.
The value is extracted from MTA-Name, MTA-Tag, or local_hostname. 

The token is "authserv-id" explained in [Section 2.5 of RFC8601](https://datatracker.ietf.org/doc/html/rfc8601#section-2.5). The value depends on the Administrative Management Domain (ADMD) policy, and using individual host names is not always desirable. For example, Google uses "mx.google.com" and Microsoft uses "mx.microsoft.com".

Other implementations, such as OpenDKIM, OpenDMARC, and dkimpy-milter, have a configuration option to explicitly specify authserv-id (which usually defaults to hostname).

## Describe alternatives you've considered

There is no configuration option to change mta_hostname in lualib/lua_auth_results.lua. 
I tried to find a way to change "MTA-Name", but changing that value solely for specifying "authserv-id" is too disruptive.

## Additional context

I stumbled on #5017 and tried to find a way to change authserv-id, but there is no option to do that.


In theory, we could use settings for that purposes. It is possible to override request headers, even `MTA-Name`.

I must admit that I don't fully understand how the settings config works or how to set ``MTA-Name`` only for this purpose yet.  I'll try later.
Still, I'd like to have an explicit configuration for "authserv-id", because it is not always the same as MTA's name.


+1 on this feature - customizing `authserv-id` seems essential for any installation with multiple rspamd scanning servers (which we will have), and in various other situations.

I also tried adding the following configuration to local.d/worker-proxy.inc, but it did not work because milter macros take precedence over extra_headers.

```
upstream "local" {
  extra_headers {
    MTA-Name = mail.example.com;
  }
}
```

Temporary workaround: In Postfix, set:

`milter_macro_daemon_name = mail.example.com`