[BUG] Quoted-printable parts encoding CRLF sequences as =0D=0A with rspamadm mime modify

### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Read about bug reporting in general: https://rspamd.com/doc/faq.html#how-to-report-bugs-found-in-rspamd
    * Enabled relevant debugging logs: https://rspamd.com/doc/faq.html#how-to-debug-some-module-in-rspamd 
    * Checked the FAQs about Core files in case of fatal crash: https://rspamd.com/doc/faq.html#how-to-figure-out-why-rspamd-process-crashed
    * Checked that your issue isn't already filed: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+user%3Arspamd
    * Checked that there is not already an experimental package or master branch

**Describe the bug**
Using `rspamadm mime modify` to add footers to MIME messaged results in quoted-printable encoded text parts where CRLF sequence are encoded as `=0A=0D` instead of being left as literal CRLF sequences.
According to RFC 2045 section 6.7, rule 4, CRLF sequences representing line breaks in text bodies should be left alone and should not undergo encoding. (Unless I am misunderstanding what I read.)

### Steps to Reproduce
1. Get a raw e-mail message.
For example mine ends as below.
```
[...]
Subject: fdafda
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 7bit

fdafadsf
```
Line-breaks are CRLF sequences in this case.

2. Write a text footer with a few starting newlines (CRLF).
```

-- • Test
```
3. Run `rspamadm mime modify --text-footer /tmp/footer /tmp/message.eml`

**Expected behavior**
In a message processed by a different software I would likely see something like
```
[...]
Subject: fdafda
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

fdafadsf

-- =E2=80=A2 Test

```
What I get is
```
[...]
Subject: fdafda
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

fdafadsf=0D=0A=0D=0A=0D=0A-- =E2=80=A2 Test=0D=0A
```
### Versions
`Rspamd daemon version 1.9.3`
`Ubuntu 16.04.6 LTS`
