Authentication-Results header appended, not inserted

### Classification (Please choose *one* option):

* [ ] Crash/Hang/Data loss
* [ ] WebUI/Usability
* [ ] Serious bug
* [ ] Other bug
* [ ] Feature
* [x] Enhancement

### Reproducibility (Please choose *one* option):

* [X] Always
* [ ] Sometimes
* [ ] Rarely
* [ ] Unable
* [ ] I didn’t try
* [ ] Not applicable

### Rspamd version:
1.7.8-1~stretch

### Operation system, CPU, memory and environment:
Debian Stretch / don't matter

### Description (Please provide a descriptive summary of the issue):
while searching for the A-R header added by rspamd I noticed it was the very last header
just where header and body are separated by an emty line.

It is more convinient to see and search the  header near to the receved line produced by the related MTA.

other milter using libmilter use to call [smfi_insheader](https://sources.debian.org/data/main/s/sendmail/8.15.2-11/libmilter/docs/smfi_insheader.html) with hdridx set to -1

Appending a new header like done by rspamd is more like [smfi_addheader](https://sources.debian.org/data/main/s/sendmail/8.15.2-11/libmilter/docs/smfi_addheader.html)

### Compile errors (if any):

### Steps to reproduce:
receive a message, let rspamd validate SPF/DKIM/DMARC/ARC
the A-H header is places "at the bottom" of the headerstack

### Expected results:
A-R header is places below the Received header of the calling MTA.

### Actual results:

### Debugging information (see details [here](https://rspamd.com/doc/faq.html#how-to-figure-out-why-rspamd-process-crashed)):

### Configuration:

### Additional information:


I am still seeing this behaviour in rspamd 1.9.0. This violates [RFC 7601 Section 4.1](https://tools.ietf.org/html/rfc7601#section-4.1). Is there a case where adding a header at the bottom would be more appropriate than at the top in rspamd at all? 