[DOC] Invalid DKIM signature with Postfix server, Outlook client and long References header

**tl;dr:** MS Outlook wraps long headers incorrectly. Postfix re-wraps them, but only after rspamd has already DKIM-signed them, which invalidates the signature.

Note that **this is NOT a bug in rspamd**. Rather, it is a behavior that I think is worth documenting on the [DKIM signing module](https://rspamd.com/doc/modules/dkim_signing.html) page, similar to the sendmail issues. Alternatively, the default value for `sign_headers` can be tweaked to work better with broken clients, if that's deemed appropriate.

### Long story

I just finished troubleshooting a problem where a few messages out of many sent through my postfix+rspamd stack (configured as described on [MTA integration](https://rspamd.com/doc/tutorials/integration.html#using-rspamd-with-postfix-mta)) had invalid DKIM signature. Comments in #1987 related to my problem pointed me in the right direction. SMTP, resp. IMF, resp. [RFC 5322 section 2.1.1](https://datatracker.ietf.org/doc/html/rfc5322#section-2.1.1) imposes a maximum allowed line length of 1000 characters (resp. 998 + `<CR><LF>`). If the line is longer, it should be wrapped using the `<CR><LF><space>` sequence.

In the mails where we encountered the problem with invalid DKIM signatures, the `References` header, which is used by default by rspamd for DKIM signing, was over 1000 characters long. MS Outlook wraps the headers, but it only counts the header payload in the 1000 character limit, not the header name itself, so it erroneously wraps the line after 1012 characters (1000 character limit + 12 characters length of the `References:<space>` string). This problem is also mentioned several times in Microsoft forums (e.g. [link 1](https://answers.microsoft.com/en-us/outlook_com/forum/all/550-maximum-allowed-line-length-is-998-octets-got/14d906d0-7783-4fbf-8ee1-671dca0acded), [link 2](https://techcommunity.microsoft.com/discussions/outlookgeneral/550-maximum-allowed-line-length-is-998-octets-got-1012/3615831)) and it seems that it's not yet fixed in any version of MS Outlook until today.

Postfix mail transport agent also respects the 1000, resp. 998-character limit (see [smtp_line_length_limit](https://www.postfix.org/postconf.5.html#smtp_line_length_limit)) and wraps the 1012 character line it gets from Outlook a second time, splitting it into two lines of 1000 and 15 characters (the three extra characters are the aforementioned `<CR><LF><space>` sequence). However, this secondary wrapping on the server side occurs when the mail is being delivered to the destination server, after it has already been signed with DKIM. Therefore this secondary wrapping invalidates the signature, even when using relaxed canonicalization, because it doesn't remove the extra `<space>` after the line break.

To solve the problem, I configured the rspamd DKIM signature module not to use the `References` header. While the problem exists for all headers that MS Outlook can send, other headers are much less likely to exceed the 1000 character limit. Postfix also allows to change or remove the line-length limit, but there is a risk that messages containing lines longer than 1000 characters won't be accepted at all by strictly standards-compliant destination servers.

### Example

This is how the client (Outlook) sends the mail. The `References` header is wrapped, but after 1012 characters, which isn't RFC compliant.

```
From: <test@vipnet.cz>
To: <test@dasm.cz>
References: <incredibly-long-test-message-reference-000@example.com> <incredibly-long-test-message-reference-001@example.com> <incredibly-long-test-message-reference-002@example.com> <incredibly-long-test-message-reference-003@example.com> <incredibly-long-test-message-reference-004@example.com> <incredibly-long-test-message-reference-005@example.com> <incredibly-long-test-message-reference-006@example.com> <incredibly-long-test-message-reference-007@example.com> <incredibly-long-test-message-reference-008@example.com> <incredibly-long-test-message-reference-009@example.com> <incredibly-long-test-message-reference-010@example.com> <incredibly-long-test-message-reference-011@example.com> <incredibly-long-test-message-reference-012@example.com> <incredibly-long-test-message-reference-013@example.com> <incredibly-long-test-message-reference-014@example.com> <incredibly-long-test-message-reference-015@example.com> <incredibly-long-test-message-reference-016@example.com> <incredibly-long-test-message-
 reference-017@example.com> <incredibly-long-test-message-reference-018@example.com> <incredibly-long-test-message-reference-019@example.com> <incredibly-long-test-message-reference-020@example.com>
Subject: Test
Date: Fri, 28 Jan 2025 18:22:49 +0100
Message-ID: <test-message$@vipnet.cz>
MIME-Version: 1.0
Content-Type: text/plain; charset=US-ASCII;
 format=flowed
Content-Transfer-Encoding: 7bit

Test message
```

This is how the mail is sent through postfix and received by the recipient's server. The `References` header is re-wrapped, which invalidates the DKIM signature.
```
Return-Path: <test@vipnet.cz>
X-Original-To: test@dasm.cz
Delivered-To: test@dasm.cz
Received: from testmail.vipnet.cz (testmail.vipnet.cz [188.95.61.14])
	(using TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits)
	 key-exchange X25519 server-signature RSA-PSS (2048 bits) server-digest SHA256)
	(No client certificate requested)
	by host.vipnet.cz (Postfix) with ESMTPS id 59B1F5818CF
	for <test@dasm.cz>; Tue, 28 Jan 2025 18:44:34 +0100 (CET)
Received: by testmail.vipnet.cz (Postfix, from userid 0)
	id 968806C0054; Tue, 28 Jan 2025 18:44:31 +0100 (CET)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=vipnet.cz; s=dkim;
	t=1738086271;
	h=from:from:reply-to:subject:subject:date:date:message-id:message-id:
	 to:to:cc:mime-version:mime-version:content-type:content-type:
	 content-transfer-encoding:content-transfer-encoding:  references:references;
	bh=PkbvdhgKiEAAhc+GiwM2ZnxMu+StJ76lWGj3Y9phfFA=;
	b=2VBfd01QmiY8AfwcM5YOfgmLkD452JJ1LT6z4vH4xJIPBbLq8FjJ54qoxMhti40TalOOI8
	yWJ1bPKIaP1oW30P4q3dnL4r0auJqwt7b7ZWBxjU4kc3PeaJSSMUwc6VFgWXX++e3asqle
	ofqIJQAlDT7uk1rp4YzCIsSfWG+jrMiLHI2EoyIsHajxfkpHTB8X9aOPTygsBpFBC82rY4
	r5R/TncjjVWULtNEMtBzSLfRvmVjZ+kiL9LmxMIpuWz6weAVuFeYz4QyTa3r+++XIZ9rDh
	zI6CKoTkwmZmQQ5NUgzgCAD+z7sDLov1wyh2Yvzqjc9xf4eWr1o1ukAE31FXBw==
From: <test@vipnet.cz>
To: <test@dasm.cz>
References: <incredibly-long-test-message-reference-000@example.com> <incredibly-long-test-message-reference-001@example.com> <incredibly-long-test-message-reference-002@example.com> <incredibly-long-test-message-reference-003@example.com> <incredibly-long-test-message-reference-004@example.com> <incredibly-long-test-message-reference-005@example.com> <incredibly-long-test-message-reference-006@example.com> <incredibly-long-test-message-reference-007@example.com> <incredibly-long-test-message-reference-008@example.com> <incredibly-long-test-message-reference-009@example.com> <incredibly-long-test-message-reference-010@example.com> <incredibly-long-test-message-reference-011@example.com> <incredibly-long-test-message-reference-012@example.com> <incredibly-long-test-message-reference-013@example.com> <incredibly-long-test-message-reference-014@example.com> <incredibly-long-test-message-reference-015@example.com> <incredibly-long-test-message-reference-016@example.com> <incredibly-long-
 test-message-
 reference-017@example.com> <incredibly-long-test-message-reference-018@example.com> <incredibly-long-test-message-reference-019@example.com> <incredibly-long-test-message-reference-020@example.com>
Subject: Test
Date: Fri, 28 Jan 2025 18:22:49 +0100
Message-ID: <test-message$@vipnet.cz>
MIME-Version: 1.0
Content-Type: text/plain; charset=US-ASCII;
 format=flowed
Content-Transfer-Encoding: 7bit
X-Rspamd-Queue-Id: 59B1F5818CF
X-Rspamd-Server: host.vipnet.cz
X-Spamd-Result: default: False [-0.80 / 15.00];
	DMARC_POLICY_ALLOW_WITH_FAILURES(-0.50)[];
	R_SPF_ALLOW(-0.20)[+mx];
	MIME_GOOD(-0.10)[text/plain];
	RCVD_COUNT_ONE(0.00)[1];
	ASN(0.00)[asn:57077, ipnet:188.95.56.0/21, country:CZ];
	ARC_NA(0.00)[];
	FROM_NO_DN(0.00)[];
	MISSING_XM_UA(0.00)[];
	RCPT_COUNT_ONE(0.00)[1];
	MIME_TRACE(0.00)[0:+];
	DMARC_POLICY_ALLOW(0.00)[vipnet.cz,reject];
	MID_RHS_MATCH_FROM(0.00)[];
	R_DKIM_REJECT(0.00)[vipnet.cz:s=dkim];
	FROM_EQ_ENVFROM(0.00)[];
	SINGLE_SHORT_PART(0.00)[];
	TO_DN_NONE(0.00)[];
	RCVD_TLS_LAST(0.00)[];
	TO_MATCH_ENVRCPT_ALL(0.00)[];
	DKIM_TRACE(0.00)[vipnet.cz:-]
X-Rspamd-Action: no action

Test message
```

Attempts to verify the signature fail with any tool, here I used [dkimpy](https://git.launchpad.net/dkimpy)
```
$ dkimverify <test.eml
signature verification failed
```

However, if I manually join the re-wrapped "test-message-" part with the preceding line, removing the leading whitespace so that the line is 1012 characters long again, the message can be validated.

```
$ dkimverify <test.eml
signature ok
```

Configuring the rspamd DKIM signing module with the following (i.e. removing the `(x)references` from the defaults listed on the [DKIM signing module](https://rspamd.com/doc/modules/dkim_signing.html#default-sign_headers-after-193) page)

```
sign_headers = "(o)from:(x)sender:(o)reply-to:(o)subject:(x)date:(x)message-id:(o)to:(o)cc:(x)mime-version:(x)content-type:(x)content-transfer-encoding:resent-to:resent-cc:resent-from:resent-sender:resent-message-id:(x)in-reply-to:list-id:list-help:list-owner:list-unsubscribe:list-unsubscribe-post:list-subscribe:list-post:(x)openpgp:(x)autocrypt"
```

allows successful DKIM signature validation even after postfix double-wraps the `References` header.

I'm running into exactly the same issue with my mailcow-dockerized setup. After a lot of debugging I found out that the DKIM signature verification fails when the references line gets wrapped.
`postfix-mailcow-1         | Jun  5 14:59:46 84d1165880b6 postfix/smtp[15199]: F19CDA0E47: breaking line > 998 bytes with <CR><LF>SPACE`
I fixed it for now by removing "references" from the "sign_headers" configuration in `data/conf/rspamd/local.d/dkim_signing.conf` as well.
I would prefer to have the references header be included in the signature though.
Did you find a proper fix @Disassembler0 