[Feature] Remove trailing spaces from DKIM signature

if you have a DKIM signature and it contains a space after the DKIM public key like:

"k=rsa; p=MIGfxxxxxxxx "
note the trailing space

then "rspamd" marks the mails as spam

Technically the space is not supposed to be there but most only DKIM checkers will allow this so it's extremely hard to find this "error"

> Technically the space is not supposed to be there

This is incorrect; it might be prettier without it and the whitespace is not required, but it is allowed. The DKIM-Signature header is a tag-list. From RFC 6376 section 3.2:

>   tag-list  =  tag-spec *( ";" tag-spec ) [ ";" ]
 >  tag-spec  =  [FWS] tag-name [FWS] "=" [FWS] tag-value [FWS]



It is not about DKIM signature, it is about DKIM public key record.

My bad, I evidently cannot read. But the same thing applies, since the DNS record is also a tag-list.

Do you have a sample to test btw?