[BUG] Handling of RFC6068 incompliant '=' in mailto: URIs when sending DMARC reports

### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Read about bug reporting in general: https://rspamd.com/doc/faq.html#how-to-report-bugs-found-in-rspamd
    * Enabled relevant debugging logs: https://rspamd.com/doc/faq.html#how-to-debug-some-module-in-rspamd 
    * Checked the FAQs about Core files in case of fatal crash: https://rspamd.com/doc/faq.html#how-to-figure-out-why-rspamd-process-crashed
    * Tried ASAN package and obtained the ASAN report (if possible): https://rspamd.com/doc/faq.html#asan-builds 
    * Checked that your issue isn't already filed: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+user%3Arspamd
    * Checked that there is not already an experimental package or master branch

**Describe the bug**
When encountering an equal sign (`=`) in a DMARC rua mailto: URI, for example:
```
_dmarc          IN      TXT     "v=DMARC1; p=none; rua=mailto:postmaster=dmarcreports@example.net;"
```

RSPAMD delivers the report to dmarcreports@example.net;

This behavior is not _really_ an RSPAMD bug; More RSPAMD reacting to non-compliant input; Nevertheless, I though I file it just in case. Feel free to close won't-fix.

Technically, as per RFC7489, the RUA/RUF contain URIs for reporting. mailto: is one of the supported URIs. Even though RFC2396 technically allows the use of reserved characters (including '=') after the first character is allowed verbatim. However, RFC6068 later clarified that '=' needs to be URI encoded in a mailto: URI:

```
1.  A number of characters that can appear in <addr-spec> MUST be
    percent-encoded.  These are the characters that cannot appear in
    a URI according to [STD66] as well as "%" (because it is used for
    percent-encoding) and all the characters in gen-delims except "@"
    and ":" (i.e., "/", "?", "#", "[", and "]").  Of the characters
    in sub-delims, at least the following also have to be percent-
    encoded: "&", ";", and "=".  Care has to be taken both when
    encoding as well as when decoding to make sure these operations
    are applied only once.
```

Hence, the correct DMARC entry would have had to be:

```
_dmarc          IN      TXT     "v=DMARC1; p=none; rua=mailto:postmaster%3Ddmarcreports@example.net;"
```

### Steps to Reproduce

1. Configure a domain with a DMARC rua containing an `=`
2. Send a mail to a system running RSPAMD
3. Send out DMARC reports
4. See the report being sent to an incorrect address

**Expected behavior**
There are likely several ways to handle this; But it might be good to think which way to pick (keep current behavior, reject non RFC6068 compliant mailto: URIs, make an educated guess as per the actual meaning etc.)

### Versions

```
# rspamd --version
Rspamd daemon version 3.9.1

CPU architecture x86_64; features: sse2, sse3
Hyperscan enabled: FALSE
Jemalloc enabled: FALSE
LuaJIT enabled: TRUE (LuaJIT version: LuaJIT 2.1.1713773202)
ASAN enabled: FALSE
BLAS enabled: FALSE
Fasttext enabled: FALSE
```