[BUG] ARC headers are added after current headers

<!--

Do you want to ask a question? Are you looking for support? Here are the places where you can get what you need: https://rspamd.com/support.html

-->

### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Read about bug reporting in general: https://rspamd.com/doc/faq.html#how-to-report-bugs-found-in-rspamd
    * Enabled relevant debugging logs: https://rspamd.com/doc/faq.html#how-to-debug-some-module-in-rspamd 
    * Checked the FAQs about Core files in case of fatal crash: https://rspamd.com/doc/faq.html#how-to-figure-out-why-rspamd-process-crashed
    * Tried ASAN package and obtained the ASAN report (if possible): https://rspamd.com/doc/faq.html#asan-builds 
    * Checked that your issue isn't already filed: https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+user%3Arspamd
    * Checked that there is not already an experimental package or master branch

**Describe the bug**

ARC headers seems to be added at the end of the headers.  Here's an example, where the email goes submisson-\>MTA-\>mailman(local)-\>MTA-\>recipients:

```
Return-Path: <l-sandbox-bounces@openssl.org>
X-Original-To: levitte@mta.openssl.org
Delivered-To: levitte@mta.openssl.org
Received: from mta.openssl.org (localhost [IPv6:::1])
	by mta.openssl.org (Postfix) with ESMTP id 93C79E6695;
	Tue,  9 Jun 2020 07:09:53 +0000 (UTC)
X-Original-To: l-sandbox@openssl.org
Delivered-To: l-sandbox@mta.openssl.org
Received: from lapdog.home.levitte.org (unknown [IPv6:2001:470:28:a97::1:2])
 (using TLSv1.2 with cipher ECDHE-RSA-AES256-GCM-SHA384 (256/256 bits))
 (No client certificate requested)
 by mta.openssl.org (Postfix) with ESMTPSA id 6F360E668A
 for <l-sandbox@openssl.org>; Tue,  9 Jun 2020 07:09:48 +0000 (UTC)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=openssl.org;
 s=dkim-2020-2; t=1591686591;
 h=from:from:reply-to:subject:subject:date:date:message-id:message-id:
 to:to:cc:mime-version:mime-version:content-type:content-type;
 bh=KG9e3yAfBtZW6MSHfrt3FWPDTmQFizxVKDCkKNjk7zw=;
 b=ebgjaddpu9K9C7Nr6fEIwNHkzGwGdRt1Yp2QW1KGMLqUuF81P2itMU73ezmU92WqAzy9KW
 F7mJRMrala2XZ8fS6fFycy/32egOofF4P6CGroU7gqOgr6HjsHb9hgABfoJM9f1PS1Hxwx
 PyGk2SzTcRyGJ5ZASDGqfpp2KmatlrqON2fgngbnYsxUxbf/OCSgnNe1A345gbaR2jDRO7
 j4vZLWMsLwcRsfD4dO+3AYm0zYP1xfCq3UeUbTj4ArVFl1f0nmP2nGQk784bqyPBZprAYh
 4oJTOJA/1hfw3K1OnEpoYKn0C9tk+pGwTcnm4aERdhDECUc2wHLZm2UnO2SSAQ==
Date: Tue, 09 Jun 2020 09:09:49 +0200
Message-ID: <87v9k0pveq.wl-levitte@openssl.org>
From: Richard Levitte <levitte@openssl.org>
To: l-sandbox@openssl.org
User-Agent: Wanderlust/2.15.9 (Almost Unreal) SEMI-EPG/1.14.7 (Harue)
 FLIM/1.14.9 (=?ISO-8859-4?Q?Goj=F2?=) APEL/10.8 EasyPG/1.0.0 Emacs/26.3
 (x86_64-pc-linux-gnu) MULE/6.0 (HANACHIRUSATO)
MIME-Version: 1.0 (generated by SEMI-EPG 1.14.7 - "Harue")
Subject: [l-sandbox] TEST
X-BeenThere: l-sandbox@openssl.org
X-Mailman-Version: 2.1.18
Precedence: list
List-Id: <l-sandbox.openssl.org>
List-Unsubscribe: <https://mta.openssl.org/mailman/options/l-sandbox>,
 <mailto:l-sandbox-request@openssl.org?subject=unsubscribe>
List-Archive: <https://mta.openssl.org/pipermail/l-sandbox/>
List-Post: <mailto:l-sandbox@openssl.org>
List-Help: <mailto:l-sandbox-request@openssl.org?subject=help>
List-Subscribe: <https://mta.openssl.org/mailman/listinfo/l-sandbox>,
 <mailto:l-sandbox-request@openssl.org?subject=subscribe>
Content-Type: text/plain; charset="us-ascii"
Content-Transfer-Encoding: 7bit
Errors-To: l-sandbox-bounces@openssl.org
Sender: "l-sandbox" <l-sandbox-bounces@openssl.org>
ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=openssl.org;
	s=arc-2020-2; t=1591686593;
	h=from:from:sender:sender:reply-to:subject:subject:date:date:
	 message-id:message-id:to:to:cc:mime-version:mime-version:
	 content-type:content-type:
	 content-transfer-encoding:content-transfer-encoding:list-id:list-help:
	 list-unsubscribe:list-subscribe:list-post:dkim-signature;
	bh=25+tBgypvRiHkncISOoCQeHVgu61AbQkExSXfCEVZVk=;
	b=by14A8d9awrQupl/WmtGfiof1D49XsUD9fmjkP1uOwLOaqSTGeTDJtdoOiWq/AqS6WmLaa
	O4seK5eC8KRKjVtamw14xSbOgz3W4LNlm2EwPnkhU9In3fSLbB48iTQrE594qztLgl/Wkq
	B6N+8kwKahltm6DHCULtsqo0LWr8oG2uHIfvJNMCmpMF3NA0rpxnGGKl8d89oRJ6xXE/Sv
	C2pNhp0Ot84+N3w5hOl+v8SFd066/0R2eQwC+EXQMM94ieGQWz+ZkZQ0/jWt+FgayO1/b7
	uzCMAS7IxcQTLFaLyFC47Gd4cNVWXkuoQ7aIU60b/+xzvfoB3xXMSuybCQ9d3g==
ARC-Seal: i=1; s=arc-2020-2; d=openssl.org; t=1591686593; a=rsa-sha256;
	cv=none;
	b=BNJ+CeHh/Sin1Dk2sHIP85qQjtM5yQh4bmv4LEZWrd2PG8XP4WelS8d3thlIJXoENSoLdZ
	fOiSfYXA+0v5ExF3ib9oP3j6TI1L9kiV5flg31m2YLqDqj1hIvYqKX/s68adRBGhK9DHYo
	XgFReuTRBX75uhwaZvVQX/jgS/vaUbQ38B+5LOYsDBFmb2UoOBE1nzTmDXneTdmqh8fcQh
	hMm6DR9ms7T/TbZrQ0yAH+hBAOlxmXrj+ttQpklLM8x6BM8DdHGIsWgzhVFaXpyFBXBgGU
	LFpADj6odsQmt0En0EkRUBtdEQDJHtkiZ2+Mq4hIOt/F2E8Dc3VJm3JCgVUOBA==
ARC-Authentication-Results: i=1;
	mta.openssl.org;
	none
```

### Steps to Reproduce

1.  Setup if dkim_signing and arc:

    ``` console
    $ rspamadm configdump arc
    *** Section arc ***
    use_esld = true;
    allow_hdrfrom_mismatch = true;
    selector = "arc-2020-2";
    key_prefix = "ARC_KEYS";
    path = "/var/lib/rspamd/arc/$domain.$selector.key";
    allow_envfrom_empty = true;
    try_fallback = true;
    sign_authenticated = false;
    symbol_sign = "ARC_SIGNED";
    use_redis = false;
    allow_username_mismatch = false;
    sign_inbound = false;
    use_domain = "recipient";
    sign_local = true;
    allow_hdrfrom_multiple = false;
    
    *** End of section arc ***
    $ rspamadm configdump dkim_signing
    *** Section dkim_signing ***
    use_esld = true;
    allow_hdrfrom_mismatch_sign_networks = true;
    symbol = "DKIM_SIGNED";
    allow_envfrom_empty = true;
    sign_authenticated = true;
    allow_username_mismatch = true;
    sign_local = false;
    allow_hdrfrom_mismatch = true;
    selector = "dkim";
    try_fallback = true;
    use_redis = false;
    domain {
        openssl.org {
            # scrubbed
        }
    }
    sign_inbound = false;
    key_prefix = "DKIM_KEYS";
    use_domain = "header";
    allow_hdrfrom_multiple = false;
    
    *** End of section dkim_signing ***
    ```
2.  Fired off an email to l-sandbox@openssl.org

**Expected behavior**

I expected the ARC headers to be added *before* current headers (incidently, it seems that DKIM headers are added before current headers...):

```
Return-Path: <l-sandbox-bounces@openssl.org>
X-Original-To: levitte@mta.openssl.org
Delivered-To: levitte@mta.openssl.org
Received: from mta.openssl.org (localhost [IPv6:::1])
	by mta.openssl.org (Postfix) with ESMTP id 93C79E6695;
	Tue,  9 Jun 2020 07:09:53 +0000 (UTC)
ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=openssl.org;
	s=arc-2020-2; t=1591686593;
	h=from:from:sender:sender:reply-to:subject:subject:date:date:
	 message-id:message-id:to:to:cc:mime-version:mime-version:
	 content-type:content-type:
	 content-transfer-encoding:content-transfer-encoding:list-id:list-help:
	 list-unsubscribe:list-subscribe:list-post:dkim-signature;
	bh=25+tBgypvRiHkncISOoCQeHVgu61AbQkExSXfCEVZVk=;
	b=by14A8d9awrQupl/WmtGfiof1D49XsUD9fmjkP1uOwLOaqSTGeTDJtdoOiWq/AqS6WmLaa
	O4seK5eC8KRKjVtamw14xSbOgz3W4LNlm2EwPnkhU9In3fSLbB48iTQrE594qztLgl/Wkq
	B6N+8kwKahltm6DHCULtsqo0LWr8oG2uHIfvJNMCmpMF3NA0rpxnGGKl8d89oRJ6xXE/Sv
	C2pNhp0Ot84+N3w5hOl+v8SFd066/0R2eQwC+EXQMM94ieGQWz+ZkZQ0/jWt+FgayO1/b7
	uzCMAS7IxcQTLFaLyFC47Gd4cNVWXkuoQ7aIU60b/+xzvfoB3xXMSuybCQ9d3g==
ARC-Seal: i=1; s=arc-2020-2; d=openssl.org; t=1591686593; a=rsa-sha256;
	cv=none;
	b=BNJ+CeHh/Sin1Dk2sHIP85qQjtM5yQh4bmv4LEZWrd2PG8XP4WelS8d3thlIJXoENSoLdZ
	fOiSfYXA+0v5ExF3ib9oP3j6TI1L9kiV5flg31m2YLqDqj1hIvYqKX/s68adRBGhK9DHYo
	XgFReuTRBX75uhwaZvVQX/jgS/vaUbQ38B+5LOYsDBFmb2UoOBE1nzTmDXneTdmqh8fcQh
	hMm6DR9ms7T/TbZrQ0yAH+hBAOlxmXrj+ttQpklLM8x6BM8DdHGIsWgzhVFaXpyFBXBgGU
	LFpADj6odsQmt0En0EkRUBtdEQDJHtkiZ2+Mq4hIOt/F2E8Dc3VJm3JCgVUOBA==
ARC-Authentication-Results: i=1;
	mta.openssl.org;
	none
X-Original-To: l-sandbox@openssl.org
Delivered-To: l-sandbox@mta.openssl.org
Received: from lapdog.home.levitte.org (unknown [IPv6:2001:470:28:a97::1:2])
 (using TLSv1.2 with cipher ECDHE-RSA-AES256-GCM-SHA384 (256/256 bits))
 (No client certificate requested)
 by mta.openssl.org (Postfix) with ESMTPSA id 6F360E668A
 for <l-sandbox@openssl.org>; Tue,  9 Jun 2020 07:09:48 +0000 (UTC)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=openssl.org;
 s=dkim-2020-2; t=1591686591;
 h=from:from:reply-to:subject:subject:date:date:message-id:message-id:
 to:to:cc:mime-version:mime-version:content-type:content-type;
 bh=KG9e3yAfBtZW6MSHfrt3FWPDTmQFizxVKDCkKNjk7zw=;
 b=ebgjaddpu9K9C7Nr6fEIwNHkzGwGdRt1Yp2QW1KGMLqUuF81P2itMU73ezmU92WqAzy9KW
 F7mJRMrala2XZ8fS6fFycy/32egOofF4P6CGroU7gqOgr6HjsHb9hgABfoJM9f1PS1Hxwx
 PyGk2SzTcRyGJ5ZASDGqfpp2KmatlrqON2fgngbnYsxUxbf/OCSgnNe1A345gbaR2jDRO7
 j4vZLWMsLwcRsfD4dO+3AYm0zYP1xfCq3UeUbTj4ArVFl1f0nmP2nGQk784bqyPBZprAYh
 4oJTOJA/1hfw3K1OnEpoYKn0C9tk+pGwTcnm4aERdhDECUc2wHLZm2UnO2SSAQ==
Date: Tue, 09 Jun 2020 09:09:49 +0200
Message-ID: <87v9k0pveq.wl-levitte@openssl.org>
From: Richard Levitte <levitte@openssl.org>
To: l-sandbox@openssl.org
User-Agent: Wanderlust/2.15.9 (Almost Unreal) SEMI-EPG/1.14.7 (Harue)
 FLIM/1.14.9 (=?ISO-8859-4?Q?Goj=F2?=) APEL/10.8 EasyPG/1.0.0 Emacs/26.3
 (x86_64-pc-linux-gnu) MULE/6.0 (HANACHIRUSATO)
MIME-Version: 1.0 (generated by SEMI-EPG 1.14.7 - "Harue")
Subject: [l-sandbox] TEST
X-BeenThere: l-sandbox@openssl.org
X-Mailman-Version: 2.1.18
Precedence: list
List-Id: <l-sandbox.openssl.org>
List-Unsubscribe: <https://mta.openssl.org/mailman/options/l-sandbox>,
 <mailto:l-sandbox-request@openssl.org?subject=unsubscribe>
List-Archive: <https://mta.openssl.org/pipermail/l-sandbox/>
List-Post: <mailto:l-sandbox@openssl.org>
List-Help: <mailto:l-sandbox-request@openssl.org?subject=help>
List-Subscribe: <https://mta.openssl.org/mailman/listinfo/l-sandbox>,
 <mailto:l-sandbox-request@openssl.org?subject=subscribe>
Content-Type: text/plain; charset="us-ascii"
Content-Transfer-Encoding: 7bit
Errors-To: l-sandbox-bounces@openssl.org
Sender: "l-sandbox" <l-sandbox-bounces@openssl.org>
```

### Versions

``` console
$ rspamd --version
Rspamd daemon version 2.5
$ lsb_release -c
Codename:       xenial
$ cat /etc/issue
Ubuntu 16.04.6 LTS \n \l
```


DKIM headers are added before. ARC headers are added below as they must be processed in their `i=` order. What is the issue here? Who cares where ARC headers are added since they have an explicit tag that defines the order?

Frankly, I'm confused with regards to what happens when, which module gets called after what...  header order would give a visual cue.  But maybe I need to look elsewhere.

The arc headers for outlook and GSuite at added to the top as they pass through MTA servers, where rspamd adds them to the bottom. If you then change the envelope to another email so it then goes to another email server (virtual_alias_maps), it'll fail ARC atleast in my setup anyway. DMARC,SPF,DKIM passes still though.

I have bit of a complex GSuite setup as my MX which then routes non existing addresses to a postfix server (with rspamd), which in some cases forwards off to other external email services. If it then goes to another external service the ARC result fails on the next MTA

https://tools.ietf.org/html/rfc8617#section-5.1.1 
"The ARC-Seal is generated in a manner similar to how DKIM-Signature
   header fields are added to messages ([RFC6376], Section 3.7), with
   explicit requirements on the header fields and ordering of those
   fields."

From reading to me this says the order of the ARC should be increasing, so in terms it should be in order. so it should have any new arc signing before any others, to insure the chain is correct and in order.

If you email from outlook, to GSuite which then routes to postfix (rspamd) the header arc order is as follows.

```
headers...
Gsuite ARC
headers...
Outlook ARC
headers....
RSpamd ARC
```

should it be 
```
headers...
RSpamd ARC
headers...
Gsuite ARC
headers...
Outlook ARC
headers....
```

So from my understanding RSpamd is ordering it incorrectly. If I'm wrong please do correct and reference the bits in the ietf.  :-)

> From reading to me this says the order of the ARC should be increasing, so in terms it should be in order. so it should have any new arc signing before any others, to insure the chain is correct and in order.

Your assumption is incorrect, please read the standard. i= ordering is absolutely enough to perform the correct chain validation and the relative order of the headers is meaningless.

Yea I was about to comment about the assertion order heading (i=). explained in the doc. If that was only requirement

So why would the ARC fail when it hits the next MTA? As the selector and key is all in DNS and matches the generated zone file. 
🤔

So adding the header is just a matter of preference, but its nice to have uniformity. 😉

Any idea to why the ARC would fail when it goes back to gmail?
https://paste.aes.pm/?5d39ae961e4b560f#AF3SGTCsSpimhGVLKJdARUNTYxQyo9oHmcXmRWARcaRm

I can add SRS to fix the SPF bit but shouldn't ARC still pass? or am I missing something here?

Inserting the headers after existing headers shouldn't break ARC verification, but I would still consider it a bug worth fixing. While the ARC specification does not currently call out these headers as trace fields or specify where they should be added, RFC 7601 ("Authentication-Results") and RFC 6376 (DKIM) do, and I would consider the ARC fields to fall into the same category as the standards they were evolved from.

RFC 6376: 
```
   The DKIM-Signature header field SHOULD be treated as though it were a
   trace header field as defined in Section 3.6 of [RFC5322] and hence
   SHOULD NOT be reordered and SHOULD be prepended to the message.
```

RFC 7601:
```
   This header field is added at the top of the message as it transits
   MTAs that do authentication checks, so some idea of how far away the
   checks were done can be inferred.  It is therefore considered to be a
   trace field as defined in [MAIL], and thus all of the related
   definitions in that document apply.
```

The main benefit of prepending trace fields is that it helps humans reading the headers to understand where in the mail flow each one was added.

Ok, you have convinced me :) I will change this behaviour.

Ok, it is impossible to do with the milter protocol. Closing issue as it just cannot be done.